# Tree Cover Loss Prediction

In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn import preprocessing
from sklearn.linear_model import LinearRegression
import numpy as np

import pickle

In [2]:
df = pd.read_csv('Datasets/TreeCoverLoss2001-2020.csv')
df.head()

  CountryCode  Year  TreeCoverLoss_ha  GrossEmissions_Co2_all_gases_Mg
0         AGO  2001       4957.597965                     3.021078e+06
1         ARG  2001       5979.947498                     2.253298e+06
2         AUS  2001          0.075922                     2.885012e+01
3         BDI  2001          6.222930                     3.288072e+03
4         BES  2001          0.146932                     6.125723e+01

In [3]:
df.describe()

              Year  TreeCoverLoss_ha  GrossEmissions_Co2_all_gases_Mg
count  1863.000000      1.863000e+03                     1.863000e+03
mean   2010.435856      3.524133e+04                     2.342182e+07
std       5.750640      1.628518e+05                     1.081038e+08
min    2001.000000      7.307871e-02                     0.000000e+00
25%    2005.000000      2.548204e+01                     1.330461e+04
50%    2010.000000      1.144897e+03                     6.297073e+05
75%    2015.000000      1.335366e+04                     7.586048e+06
max    2020.000000      2.830977e+06                     1.820993e+09

In [4]:
df.isnull().sum()

CountryCode                        0
Year                               0
TreeCoverLoss_ha                   0
GrossEmissions_Co2_all_gases_Mg    0
dtype: int64

The data seems to be fine. There are no NaN values.

In [5]:
df.shape

(1863, 4)

In [6]:
df['CountryCode'].unique()

array(['AGO', 'ARG', 'AUS', 'BDI', 'BES', 'BGD', 'BHS', 'BLZ', 'BOL',
       'BRA', 'BRN', 'BTN', 'CAF', 'CHN', 'CIV', 'CMR', 'COD', 'COG',
       'COL', 'COM', 'CRI', 'CUB', 'CYM', 'DMA', 'DOM', 'ECU', 'ETH',
       'FJI', 'GAB', 'GHA', 'GIN', 'GLP', 'GNB', 'GNQ', 'GTM', 'GUF',
       'GUY', 'HND', 'HTI', 'IDN', 'IND', 'JAM', 'KEN', 'KHM', 'KNA',
       'LAO', 'LBR', 'LCA', 'LKA', 'MAF', 'MDG', 'MDV', 'MEX', 'MMR',
       'MOZ', 'MSR', 'MTQ', 'MWI', 'MYS', 'NGA', 'NIC', 'NPL', 'PAN',
       'PER', 'PHL', 'PLW', 'PNG', 'PRI', 'PRY', 'RWA', 'SLB', 'SLE',
       'SLV', 'SSD', 'SUR', 'SXM', 'TCA', 'TGO', 'THA', 'TTO', 'TWN',
       'TZA', 'UGA', 'USA', 'VCT', 'VEN', 'VGB', 'VIR', 'VNM', 'VUT',
       'ZAF', 'ZMB', 'ZWE', 'BEN', 'SEN', 'SGP', 'UMI', 'ABW', 'ATG'],
      dtype=object)

#### Using Label Encoder for the Countrys'

In [7]:
le = preprocessing.LabelEncoder()
df['Country'] = le.fit_transform(df['CountryCode'])
df['Country']

0        1
1        2
2        4
3        5
4        7
        ..
1858    94
1859    95
1860    96
1861    97
1862    98
Name: Country, Length: 1863, dtype: int32

In [8]:
X = df[['Country', 'Year', 'GrossEmissions_Co2_all_gases_Mg']]
y = df['TreeCoverLoss_ha']

## Using Random Forest Regressor to find Feature Importances

In [10]:
from sklearn.ensemble import RandomForestRegressor

rf = RandomForestRegressor().fit(X,y)
rf.feature_importances_

array([0.00436026, 0.00493036, 0.99070938])

We can see that Country and Year play no significant role while predicting the Tree Cover loss.
So I decided to exclude them while I trained the model.

In [11]:
#X = df[['Country', 'Year', 'TreeCoverLoss_ha']]
X = df[['GrossEmissions_Co2_all_gases_Mg']]
#X = df[['Country', 'Year', 'GrossEmissions_Co2_all_gases_Mg']]
y = df['TreeCoverLoss_ha']

In [12]:
X.head()

   GrossEmissions_Co2_all_gases_Mg
0                     3.021078e+06
1                     2.253298e+06
2                     2.885012e+01
3                     3.288072e+03
4                     6.125723e+01

In [13]:
y.head()

0    4957.597965
1    5979.947498
2       0.075922
3       6.222930
4       0.146932
Name: TreeCoverLoss_ha, dtype: float64

In [21]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2)

### Training an ML model

In [22]:
clf = LinearRegression()
clf.fit(X_train, y_train)
clf.score(X_test, y_test)

0.9904836059556512

Classic Linear Regression prediction problem

#### Saving the classifier in a pickle file for later use

In [23]:
with open ('clf1.pkl', 'wb') as f:
    pickle.dump(clf, f)

In [24]:
clf.predict([[288.5]])

array([275.84677346])